{% extends "base.twig" %}

{% block content %}
<h2>All Books</h2>

<input type="text" id="search" placeholder="Search books...">

<table border="1" width="100%">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Year</th>
    <th>Price</th>
    <th>Actions</th>
</tr>

<tbody id="results">
{% for book in books %}
<tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.category }}</td>
    <td>{{ book.year }}</td>
    <td>{{ book.price }}</td>
    <td>
        <a href="edit.php?id={{ book.id }}">Edit</a>
        <a href="delete.php?id={{ book.id }}" onclick="return confirm('Delete?')">Delete</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
