{% extends "base.twig" %}
{% block content %}
<h2>{{ title }}</h2>

<form method="post">
    <input name="title" placeholder="Title" value="{{ book.title ?? '' }}" required><br>
    <input name="author" placeholder="Author" value="{{ book.author ?? '' }}" required><br>
    <input name="category" placeholder="Category" value="{{ book.category ?? '' }}"><br>
    <input name="year" type="number" value="{{ book.year ?? '' }}"><br>
    <input name="price" type="number" step="0.01" value="{{ book.price ?? '' }}"><br>
    <button type="submit">Save</button>
</form>
{% endblock %}
